body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 0;
    padding: 0;
    outline: 0;
    background-color: #f2efef;
}

*{
    margin: 0;
    outline: 0;
    padding: 0;
}

header{
    display:flex;
    background-color: #284f82;
}

/* seta de voltar */

.voltar{
    margin-top: 1vw;
}

.volt{
    cursor: pointer;
    margin-left: 5vw;
}



.form-control{
    margin-top:25px;
    margin-bottom:25px;
    width:50%;
    padding-left:0.9vw;
    margin-left:10.0vw;
}

.lupa{
    margin-top:25px;
    margin-bottom:25px;
    padding-left:10px;
    padding-right:10px;
}

.lupa img{
    width:30px;
}

main{
    background-color:#f2efef;
}

.logo{
    width: 75px;
    margin: 10px;
    margin-left:15px;
    background-color: #284f82;
}

.funcoes {
    margin-left:21.0vw;
} 

 .princ{
    background-color: white;
    padding: 1.5vw;
    width: 80%;
    border-top: 30px solid #f2efef;
    margin: auto;
    border-bottom: 50px solid #f2efef;
}


.livro{
    margin-bottom: 3.0vw;
}

.dados_usuario{
    width: 70%;
}

.info1{
    font-size:20px;
    display: block;
    text-align: left;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
    text-decoration: none;
}

.info1 b{
    color: #284f82;
    margin-right: 0.3vw;
}

.h2{
    display:inline-flex;
    font-size:20px;
    color: #284f82;
}

.texto{
    text-align: center;
    background-color: white;
    margin-left: 20px;
}

.botao{
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    color: #284f82;
    border: 2px solid #284f82;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top:0.5vw;
    padding-bottom: 0.5vw;
    margin: 1.0vw;
    width: 12vw;
}

.informacoes{
    display: inline-flex;
    width: 70%;
}

.botoes{
    float: right;
}

.botoes a{
    display: block;
}

.contato{
    text-decoration: none;
    font-size: 19px;
    color: #dd8613;
    border: 2px solid #dd8613;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top:0.5vw;
    padding-bottom: 0.5vw;
    margin: 1.0vw;
    width: 12vw;
}

.delete{
    text-decoration: none;
    font-size: 19px;
    color: #dd1313;
    border: 2px solid #dd1313;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top:0.5vw;
    padding-bottom: 0.5vw;
    margin: 1.0vw;
    margin-top: 0;
    cursor: pointer;
    background-color: white;
    width: 15.4vw;
}

.botao:hover{
    color:white;
    background-color: #284f82;
}

.contato:hover{
    color:white;
    background-color: #dd8613;
}

.delete:hover{
    color:white;
    background-color: #dd1313;
}

.emprestimo{
    display: block;
    margin-top: 3vw;
}

.livroName{
    padding-left:3.0vw;
    padding-right:3.0vw;  
    padding-top:5px;
    padding-bottom:5px;
    text-align: center;
    color: white;
    background-color: #284f82;
    font-size: 20px;
}

.autor{
    padding-left:3.0vw;
    padding-right:3.0vw;  
    padding-top:5px;
    padding-bottom:5px;
    background-color: #284f82;
    text-align: center;
    font-size: 20px;
    color: white;
}

.dataDev{
    padding-left:3.0vw;
    padding-right:3.0vw;  
    padding-top:5px;
    padding-bottom:5px;
    background-color: #284f82;
    text-align: center;
    font-size: 20px;
    color: white;
}

.statuss{
    padding-left:3.0vw;
    padding-right:3.0vw;  
    padding-top:5px;
    padding-bottom:5px;
    background-color: #284f82;
    text-align: center;
    font-size: 20px;
    color: white;
}

.dado1,.dado2,.dado3,.statusPendente ,.statusDevolvido {
    border-bottom: 13px solid white;
    background-color: rgb(237, 234, 234);
}

.livro_info{
    display: block;
    font-size: 15px;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
    margin-left:0.5vw;
}

.dado1{
    padding-left:1vw;
    padding-right:1vw;  
    padding-top:8px;
    padding-bottom:8px;
}

.dado2{
    padding-left:1.0vw;
    padding-right:1.0vw;  
    padding-top:8px;
    padding-bottom:8px;
    background-color:#d3d3d3;
}

.dado3{
    padding-left:1vw;
    padding-right:1vw;  
    padding-top:8px;
    padding-bottom:8px;
}

.statusPendente,.statusDevolvido{
    background-color:white;
}

.statusPendente a{
    padding-left:3.0vw;
    padding-right:3.0vw;  
    padding-top:8px;
    padding-bottom:8px;
    background-color:#ea3636;
    border: none;
    border-bottom: 13px solid white;
    width: 7vw;
    border-bottom: 13px solid white;
    color: white;
    text-decoration: none;
}

.statusDevolvido a,.statusPendente a{
    cursor: pointer;
}

.statusDevolvido a{
    padding-left:3.0vw;
    padding-right:3.0vw;  
    padding-top:8px;
    padding-bottom:8px;
    background-color:#55d479;
    width: 5vw;
    border: none;
    border-bottom: 13px solid white;
    text-decoration: none;
}

.statusDevolvido a:hover{
    background-color:white;
    border: 2px solid #55d479;
}

.statusPendente a:hover{
    background-color:white;
    border: 2px solid red;
    color:red;
}

.statusPendente a,.statusDevolvido a{
    margin-left:1vw;
}




